<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="Wn8D49UMLEZmV3f02NP8Rq6PzrdZiTUei1VHbP-z_VM" />
    <title>passportjs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Passport</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <% if (!user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login/">Login</a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout/">Logout</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        Hello, World!
    </div>
</body>

</html>